<div class="about-us">
    <div class="about-us-container">
        <div class="about-us-image">
            <img src="../images/kaja4.jpg" alt="Restaurant Interior">
        </div>
        <div class="about-us-text">
            <h2>Róunk</h2>
            <p>  
                Há’ figyu, ez a hely nem csak egy hely, hanem egy nagy család! Itt mindenkinek megvan a dolga, oszt mindenki szívből csinálja, amit csinál. A konyhába a legjobb embereim vannak, ők gyúrják a tésztát, keverik a szószt, hogy olyan pizzát egyél, amit még napokig emlegetsz. Az autóknál meg csak rendes verdákat adunk, nem ilyen kotlékokat.  
                <br>
                <br>De a legfontosabb? Te vagy, meg a vendégeink. Ha betérsz hozzánk, nem csak egy pizzát eszel, vagy egy kocsit veszel – érzed, hogy ide tartozol. Mindenkire figyelünk, és nekünk az a lényeg, hogy mikor kilépsz az ajtón, azt mondd: „Na, ide még biztos visszajövök</p>
        </div>
    </div>
</div>

<div class="about-us reverse">
    <div class="about-us-container">
        <div class="about-us-text">
            <h2>A töténetünk</h2>
            <p id="rev">  
                Ez a hely ott kezdődött, hogy Kenyérkútpusztán azt mondtuk: "Miért ne csinálnánk egy helyet, ahol jó a kaja és a hangulat?" Kezdtük egy kis bódéval, és hamar láttuk, hogy szeretik az emberek. 
                <br>
                <br>Aztán jött az autókereskedés is, merhogy kell egy hely, ahol rendes autókat kapsz. Most már mindkettő pörög, és mindenki jöhet pizzáért vagy egy jó kocsiért.    
                </p>
        </div>
        <div class="about-us-image">
            <img src="../images/kaja6.jpg" alt="Founders">
        </div>
    </div>
</div>

<div class="about-us">
    <div class="about-us-container">
        <div class="about-us-image">
            <img src="../images/kaja7.jpg" alt="Fresh Ingtealients">
        </div>
        <div class="about-us-text">
            <h2>Értékeink (nem lopot)</h2>
            <p>Nálunk a legfontosabb a család, a tisztesség meg a közösség. Minden, amit csinálunk, az őszintén, szeretettel van. A pizzák mindig frissen készülnek, kézzel, nem géppel, mert mi így szeretjük. Az autók meg úgy vannak rendbe hozva, hogy ne kelljen aggódnod – ha tőlünk veszel, tudhatod, hogy jó kocsit kapsz.</p>
        </div>
    </div>
</div>


<div class="about-us reverse">
    <div class="about-us-container">
        <div class="about-us-text">
            <h2>Kapcsolatfelvétel</h2>
            <p id="rev">Ha szeretnél egy finom pizzát enni, vagy egy jó autót nézni, nálunk mindig várunk!
                <br>
                <br> 📍 Cím: Kenyérkútpuszta, Fő utca 5.
                <br> 📞 Telefon: +36 20 123 4567
                <br> 📧 Email: info@kevinpizzazoja.hu
                <br>
               <br> Gyere el, mi mindig szívesen látunk!</p>
        </div>
        <div class="about-us-image">
            <img src="../images/rat.gif" alt="Contact Us">
        </div>
    </div>
</div>
