<div class="brief-container">
    <div class="brief-image">
        <img src="../images/kevin.jpg" alt="Restaurant Image">
    </div>
    <div class="brief-text">
        <h2>Kevinről</h2>
        <p>Sziasztok én Kevin vagyok, Kenyérkútpusztán születtem. Egy sima cigánygyerek vótam, de nagy álmaim vótak. Nem vót könnyű az élet, de nálunk a család mindig azt mondta, hogy "dolgozz, fiam, mer' a semmibűl nem lesz valami". Hát, én megfogadtam.
            <br>
        <br>A pizzát a nagyanyámtól tanultam, ő csodát tett a tésztával. Az autók meg mindig is a szívem csücskei voltak. Most már van pizzázóm és autókereskedésem, mindkettőt kemény munkával építettem, mert a család, hit és kitartás mindig előre vitt.
</p>
    </div>
</div>