<div class="brief-container">
    <div class="brief-image">
        <img src="../images/rat.gif" alt="Restaurant Image">
    </div>
    <div class="brief-text">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam obcaecati placeat totam distinctio doloribus molestiae soluta, laudantium enim corrupti ipsam accusamus possimus nam dolorum animi necessitatibus quidem! Blanditiis, sequi nesciunt! Eligendi, atque temporibus quia aliquam esse repellendus quas illo incidunt?
</p>
    </div>
</div>