<div class="location">
    <img src="../images/location-1.jpg" alt="Location 3">
    <h2 class="location-title">
        <bold>Leneskerti utca 69.</bold>
    </h2>
    <p class="location-info">
        9153, Öttevény, Leneskerti utca 69.<br>
        <i class="fa-solid fa-phone"></i> +36 30 889 86 84<br>
        <bold>Nyitvatartás:<br></bold>
        H-P:10:00-22:00<br>
        SZ-V:12:00-12:00<br>
    </p>
</div>
<div class="location">
    <img src="../images/location-2.jpg" alt="Location 3">
    <h2 class="location-title">
        <bold>Leneskerti utca 69.</bold>
    </h2>
    <p class="location-info">
        9153, Öttevény, Leneskerti utca 69.<br>
        <i class="fa-solid fa-phone"></i> +36 30 889 86 84<br>
        <bold>Nyitvatartás:<br></bold>
        H-P:10:00-22:00<br>
        SZ-V:12:00-12:00<br>
    </p>
</div>
<div class="location">
    <img src="../images/location-3.jpg" alt="Location 3">
    <h2 class="location-title">
        <bold>Leneskerti utca 69.</bold>
    </h2>
    <p class="location-info">
        9153, Öttevény, Leneskerti utca 69.<br>
        <i class="fa-solid fa-phone"></i> +36 30 889 86 84<br>
        <bold>Nyitvatartás:<br></bold>
        H-P:10:00-22:00<br>
        SZ-V:12:00-12:00<br>
    </p>
</div>
