<div class="location">
    <img src="../images/location-1.jpg" alt="Location 3">
    <h2 class="location-title">
        <bold>Leneskerti utca 69.</bold>
    </h2>
    <p class="location-info">
        9153, Kenyérkútpuszta, Leneskerti utca 69.<br>
        <i class="fa-solid fa-phone"></i> +36 20 854 16 74<br>
        <bold>Nyitvatartás:<br></bold>
        H-P:10:00-22:00<br>
        SZ-V:12:00-12:00<br>
    </p>
</div>
<div class="location">
    <img src="../images/location-2.jpg" alt="Location 3">
    <h2 class="location-title">
        <bold>Kaposvár utca 1.</bold>
    </h2>
    <p class="location-info">
        9153, Buda(vagy Pest), Kaposvár utca 1.<br>
        <i class="fa-solid fa-phone"></i> +36 30 219 86 84<br>
        <bold>Nyitvatartás:<br></bold>
        H-P:10:00-22:00<br>
        SZ-V:12:00-12:00<br>
    </p>
</div>
<div class="location">
    <img src="../images/location-3.jpg" alt="Location 3">
    <h2 class="location-title">
        <bold>Kenyérkútpuszta út 20.</bold>
    </h2>
    <p class="location-info">
        9153, Mizserfa, Kenyérkútpuszta utca 20.<br>
        <i class="fa-solid fa-phone"></i> +36 30 889 11 84<br>
        <bold>Nyitvatartás:<br></bold>
        H-P:10:00-22:00<br>
        SZ-V:12:00-12:00<br>
    </p>
</div>
