    <div class="login-container">
        <h2>Login</h2>
        <form id="login-form">
            <label for="text">Felhasználónév:</label>
            <input type="text" id="login-username" required>

            <label for="password">Jelszav:</label>
            <input type="password" id="login-password" required>
            
            <button type="submit" id="login-button" disabled>Bejelentkezés</button>
        </form>
        <p class="register-link">Még nincs profilod? <a onclick="display(document.getElementById('register'))">csinálj egyet</a></p>
    </div>
