<div class="profile-wrapper">
    <div class="profile-part">
        <h2>A fiókom</h2>
        <div class="all-profile-info">
            <div class="profile-info">
                <p><strong>Felhasználónév:</strong> <span id="profile-username">JohnDoe</span></p>
                <p><strong>Email:</strong> <span id="profile-email">johndoe@example.com</span></p>
            </div>
            <div class="reservations">
                <h3>Foglalásaim</h3>
                <div id="reservation-list">
                </div>
            </div>
        </div>
    </div>
</div>
