

<div class="container">
           <h1>Adatvédelmi Szabályzat</h1>
           
           <p>A <strong>Kevin Pizzazo es Auto Kereskedes</strong>-nél tiszteljük a magánéletedet, és elkötelezettek vagyunk az általad megadott személyes adatok védelme iránt. Ez az Adatvédelmi Szabályzat magyarázza el, hogyan gyűjtjük, használjuk és védjük az adataidat.</p>
   
           <h2>1. Információ, amit gyűjtünk</h2>
           <p>Mi az alábbi típusú információkat gyűjthetjük:</p>
           <ul>
               <li>A neved, email címed és telefonszámod, amikor foglalást végzel.</li>
               <li>Fizetési részletek online rendelés esetén (biztonságosan feldolgozva).</li>
               <li>A weboldal használati adatokat, hogy javíthassuk szolgáltatásainkat.</li>
           </ul>
   
           <h2>2. Hogyan használjuk az információidat</h2>
           <p>Az adataidat a következő célokra használjuk:</p>
           <ul>
               <li>Feldolgozni a foglalásokat és ételrendeléseket.</li>
               <li>Fejleszteni a weboldalunkat és az ügyfélszolgáltatásunkat.</li>
               <li>Különleges ajánlatokat küldeni (csak ha beleegyezel).</li>
           </ul>
   
           <h2>3. Az adatok megosztása</h2>
           <p>Mi nem árusítjuk a személyes adataidat. Azonban megoszthatjuk azt a következőkkel:</p>
           <ul>
               <li>Bízható fizetési feldolgozókkal.</li>
               <li>Szállító partnerekkel az rendeléseid teljesítésére.</li>
           </ul>
   
           <h2>4. Biztonság</h2>
           <p>Erős biztonsági intézkedéseket alkalmazunk, hogy megvédjük az információidat az illetéktelen hozzáféréstől.</p>
   
           <h2>5. A választásaid</h2>
           <p>Kérheted a személyes adataid frissítését vagy törlését, ha kapcsolatba lépsz velünk.</p>
   
           <h2>6. Kapcsolatfelvétel</h2>
           <p>Ha bármilyen kérdésed van, kérjük, írj nekünk az info@kevin-mail.com email címre.</p>
   
       </div>
   