<h2>vendégeink véleményei</h2>
<div class="quotes" id="kvotak">
    <blockquote><img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/half-star.png">
    <br>“Amazing foodsfhrloremwpijhefefefefefefefefefefefefef efefef efefefefefefefefefefefef efefefefefefe fefefefefefefef efefefefefe fefef ef e fefefefefe fefefefe fefefefefefefefefef efefefefefefe fefefefefe fefefe fefefoiheoferfolerjoe an d great atmosphere!” - John Doe</blockquote>
    <blockquote>
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/half-star.png">
    <br>
    “The best dining experience I've ever had.” - Jane Smith
    </blockquote>
    <blockquote><img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/half-star.png">
    <br>“The best dining experience I've ever had.” - Jane Smith</blockquote>
    <blockquote><img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/half-star.png">
    <br>
    “The best dájning experience I've ever had.” - Jane Smith</blockquote>
    <blockquote>
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/half-star.png">
    <br>
    “The best dining experience I've ever had.” - Jane Smith</blockquote>
    <blockquote>
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/star.png">
    <img class="star" src="../images/half-star.png">
    <br>
    “The best dining experience I've</blockquote>
</div>
