<div class="login-container">
    <h2>Registráció</h2>
    <form id="register-form">
        <label for="text">Felhasználónév:</label>
        <input type="text" id="register-username" required>

        <label for="email">Email:</label>
        <input type="email" id="register-email" required>

        <label for="password">Jelszav:</label>
        <input type="password" id="register-password" required>

        <button type="submit" id="register-button" disabled>register</button>
    </form>
    <p class="register-link">már van profilod? <a onclick="display(document.getElementById('login'))">jelentkezz be</a></p>
</div>
