    <div class="team-fixer">
        <!-- General Introduction -->
        <div class="team-introduction">
            <h2>A csapat</h2>
            <div id="team-group-box">
                <img src="../images/group.jpg" alt="Our Team" class="team-group-image">
                <p> 
                A csapatunk? Hát, mi egy igazi (télleg) család vagyunk. Nem csak dolgozunk, hanem együtt építjük ezt a helyet, és mindenki szívvel-lélekkel teszi a dolgát. Mindig ott vagyunk egymásnak, és segítünk, ahol csak tudunk. Nálunk nem csak a munka fontos, hanem a közösség, a család, meg az, hogy mindenki jól érezze magát.
                    
                    
                </p>
            </div>

        </div>
        
        <!-- Individual Team Members -->
        <div class="team-container flip-container">
          

            
            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/ferdi.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>Wolf Ferdi <img style="width: 70px; transform: translateY(20px);" src="../images/NAND.png" alt=""></h3>
                        <p class="job">hálózatos szakember</p>
                    <p>háztetőfedő készítő faluban élő úriember. Francia szavak nem röpködnek a szájából</p>
                  </div>
                </div>
            </div>

            <div class="team-member" onclick="toggleFlip(this)">
              <div class="flip-box">
                <div class="front">
                  <img src="../images/madarasz.jpg" alt="">
                  <div class="team-info"></div>
                </div>
                <div class="back">
                  <h3>Madarász Bálint</h3>
                      <p class="job">hát vég fejlesztő</p>
                  <p>Veľká tragédia: Ja a programovanie 😭💔💀

                    Bratu, toto je katastrofa. 🫠 Skúšal som programovať, ale výsledok? Totálna 💣💥. Vyzeralo to asi tak, ako keby 🐸 skočila na 🛹 a myslela si, že je Tony.
                    </p>
                </div>
              </div>
          </div>

            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/jake-long-hair-omg.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>Kovács Levente</h3>
                        <p class="job">ennek a gyönyörűségnek a megalkotója</p>
                    <p>uristen itt még hoszú a haja ez olyan fontos infó</p>
                  </div>
                </div>
            </div>

            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/pipasluki.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>Lukácsos <span style="font-style: italic;">Jake igazi neve</span></h3>
                        <p class="job">Profeszionális vonatos ember</p>
                    <p>a paket trészerezésben nem a legjobb, de kárpótolja ezt vonatokkal kapcsolatos tudásával. E mellett non-profit úlyságíró</p>
                  </div>
                </div>
            </div>

            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/mizsi.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <div style="transform: rotate(180deg);">
                        <h3>Mizser Bálint</h3>
                        <p class="job">osztálykabala</p>
                        <p>Mizser Bálint mindig pozitív attitűde és barátságos vonásai növelik a morált minden csapatban</p> 
                    </div>
                  </div>
                </div>
            </div>
 

            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/somesz.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>Somjai Somesz</h3>
                        <p class="job">történelmet tanító lény</p>
                        <p>elvileg tanít történelmet, viszont gyakorlatban nagyon szereti felolvasni a tanagyagot, ami közben olykor még ő is bealszik kicsit.</p>
                  </div>
                </div>
            </div>
 

            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/tibihapi.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>Hermann többesszám második személy + (wine szó magyarul)</h3>
                        <p class="job">Átlagos Vértesszőlősi rezidens</p>
                    <p>Ferdi klónja volt, amíg a Ferdin is volt szemüveg</p>
                  </div>
                </div>
            </div>
 

            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/picigeri.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>Gregory Smith</h3>
                        <p class="job">hangtechnikus</p>
                    <p>ismeri Blümmel Zétényt 😀</p>
                  </div>
                </div>
            </div>
 

            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/dave.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>Laczkó Dávid</h3>
                        <p class="job">12.D-s tanuló</p>
                    <p>igazából, ő csak azért van itt, mert találtam róla ezt a képet</p>
                  </div>
                </div>
            </div>
          
            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/kavics.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>Köwetschesch Levente</h3>
                        <p class="job">🪨🪨 🪨🪨🪨 🪨🪨🪨 🪨 🪨🪨🪨</p>
                    <p>he fell off idén, nem is kitűnő, naon butaa</p>
                  </div>
                </div>
            </div>


          
            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/barna.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>Bácsi Birni Barni</h3>
                        <p class="job">Brósz tárz gémer</p>
                    <p>titokban meleg, de ezt ne mondd el senkinek se, mert titok!</p>
                  </div>
                </div>
            </div>


          
            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/danika.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>kép a daniról készült képről</h3>
                        <p class="job">öccse menőbb</p>
                    <p>number 1 legelfelejthetőbb háttérkarakter. a 4. season-re reméltük hogy kap valami buff-ot, de nem:(</p>
                  </div>
                </div>
            </div>

            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/bodi.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3><img src="../images/bolt.jpg" alt="" style="width: 70px; transform: translateY(40px);">   i   <img src="../images/zsak.jpg" alt="" style="width: 70px; transform: translateY(20px);"></h3>
                        <p class="job">prime gépész energy</p>
                    <p>hoszú haly jobban ált</p>
                  </div>
                </div>
            </div>

            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/krisz.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>Ricinger Krisztofer</h3>
                        <p class="job">a másik krisz</p>
                    <p>benn van a classroomban :D</p>
                  </div>
                </div>
            </div>

            <div class="team-member" onclick="toggleFlip(this)">
                <div class="flip-box">
                  <div class="front">
                    <img src="../images/winrar.jpg" alt="">
                    <div class="team-info"></div>
                  </div>
                  <div class="back">
                    <h3>winrar sör</h3>
                        <p class="job">winrar sör</p>
                    <p>winrar sör</p>
                  </div>
                </div>
            </div>


        </div>
    </div>
